#main{
	background-color: azure;
	text-align: center;
}

.card,.trainerCard{
	width: 25%;
	background-color: rgb(158, 188, 245);
	box-shadow: 6px 6px 6px -6px;
	margin: 0 auto;
	word-wrap: break-word;
}
img{
	width: 70%;
	border-radius: 40%;
}

.profileCards{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}